:root {
      --mutedblack-color: rgb(5, 6, 7);
      --mistycloud-color: rgb(243, 243, 238);
}

@font-face {
    font-family: Laurel;
    src: url(laurel/laurel-black.otf);
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Black.ttf);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-BlackItalic.ttf);
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Bold.ttf);
    font-weight: 700;
    font-style: Normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-ExtraLight.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-ExtraLightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Italic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Light.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-LightItalic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Semibold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-SemiboldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}


html {
    cursor: pointer;
}

body {
    background: var(--mutedblack-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#hero {
    position: relative;
    height: 100vh; /* Full viewport */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#main-title {
    position: relative; /* allow scrolling */
    margin: 50px auto;
    text-align: center;
    font-size: 6vw;
    color: var(--mistycloud-color);
    font-family: 'Laurel';
    font-weight: bolder;
}

#broken-letterspacing {
    letter-spacing: 20px;
}

#become-letterspacing {
    letter-spacing: -8px;
}

@media only screen and (max-width: 768px) {
    #main-title {
        font-size:18vw;
        line-height: 80px;
    }
}

#dynamic-bg {
    position: fixed;
    top: -50%;  /* extend beyond viewport */
    left: -50%;
    width: 210%;
    height: 160%;
    background: url('glass background.jpg') center/cover no-repeat;
    filter: brightness(0.8) blur(1px);
    transition: transform 0.1s ease-out;
    z-index: -1;
}
.Section {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    color: var(--mistycloud-color);
    text-align: center;
    font-family: 'Laurel';
    font-weight: bolder;
    color: var(--mistycloud-color);
}