:root {
      --mutedblack-color: rgb(5, 6, 7);
      --mistycloud-color: rgb(243, 243, 238);
}

@font-face {
    font-family: Laurel;
    src: url(laurel/laurel-black.otf);
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Black.ttf);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-BlackItalic.ttf);
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Bold.ttf);
    font-weight: 700;
    font-style: Normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-ExtraLight.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-ExtraLightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Italic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Light.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-LightItalic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Semibold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-SemiboldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}


html {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--mutedblack-color);
    background: linear-gradient(rgba(5, 6, 7, 0.5), rgba(5, 6, 7, 0.5)), url('glass\ background.jpg');
    background-size: cover;
}

#main-title {
    position: absolute;
    margin: 0; 
    text-align: center;
    font-size: 6vw;
    color: var(--mistycloud-color);
    font-family: Laurel;
    font-weight: bolder;
}

#broken-letterspacing {
    letter-spacing: 20px;
}

#become-letterspacing {
    letter-spacing: -8px;
}

@media only screen and (max-width: 768px) {
    #main-title {
        font-size:18vw; /* bigger font for small screens */
        line-height: 80px;
    }
}