:root {
      --mutedblack-color: rgb(5, 6, 7); /* A shade of blue */
      --mistycloud-color: rgb(243, 243, 238); /* A shade of gray */
}

@font-face {
    font-family: Laurel;
    src: url(laurel/laurel-black.otf);
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Black.ttf);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-BlackItalic.ttf);
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Bold.ttf);
    font-weight: 700;
    font-style: Normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-ExtraLight.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-ExtraLightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Italic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Light.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-LightItalic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-Semibold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(source-sans-pro/SourceSansPro-SemiboldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

html {
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background: var(--mutedblack-color);
    background: url('glass\ background.jpg') no-repeat center center;
    background-size: cover;
}

/* Hidden title until shatter */
#main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: var(--mistycloud-color);
    font-family: Laurel;
    font-weight: bolder;
    white-space: nowrap;
}